* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
}

nav {
  height: 45px;
  background: #3c3a39;
  padding-top: 9px;
}

nav ul {
  display: none;
  align-items: center;
}

#menubar {
  display: block;
  cursor: pointer;
}

#menubar div {
  width: 26px;
  height: 3px;
  background-color: white;
  margin: 4px;
}

nav ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.magin {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  align-items: center;
  text-align: center;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  font-weight: 680;
  font-size: 17px;
  line-height: 20px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.section-fir {
  background-color: #1c1a19;
  height: 550px;
  background-image: scr;
  background-image: url("./image/first.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.headline-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 50px 20px;
}

.headerline {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.sub-headerline {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #f1f1f1;
}

.content-p {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #f1f1f1;
}

#social-media {
  display: flex;
  gap: 1rem;
  padding: 0 20px;
}

.sec-2 {
  background: #1c1a19;
  margin-top: 49px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 25px;
  gap: 20px;
}

.second-sec-heading {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 25px;
}

.section-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: px;
}

.img-sct2 {
  width: 328px;
  height: 237px;
}

.sub-h3 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #091e42;
}

.section-div-p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.grid1 {
  display: flex;
  gap: 10px;
}

.grid1 li {
  border: 1px solid #8993a4;
  padding: 14px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
  color: #091e42;
}

.bnt-top {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  height: 48px;
  width: 124px;
  text-align: center;
  background-color: #ff6b00;
  color: #fff;
}

.bnt-top:hover {
  background-color: #e5e5e5;
  transition: color 0.3s ease-in-out;
  transition-duration: 1s;
  color: #f55800;
  border: 1px solid #f55800;
}

.line {
  margin-bottom: 80px;
  border: 1px solid #212121;
}

.grid-2 {
  width: 325px;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 90%,
      rgba(38, 38, 38, 0.9) 91%
    ),
    url(./image/Img-Placeholder2.png);
  background-repeat: no-repeat;
}

.hads {
  width: 325px;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 90%,
      rgba(38, 38, 38, 0.9) 91%
    ),
    url(./image/Img-Placeholder2.png);
  background-repeat: no-repeat;
}

.hads2 {
  width: 325px;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 90%,
      rgba(38, 38, 38, 0.9) 91%
    ),
    url(./image/Img-Placeholder2.png);
  background-repeat: no-repeat;
}

.grid-2-items {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-2-items ul {
  display: flex;
  width: 36px;
  margin-right: 148px;
  gap: 12px;
  align-items: center;
}

.item-bt {
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #ff6b00;
  color: #fff;
  padding: 10px 10%;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
}

.grid-2h4 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  padding: 0 25px;
}

.grid-2-p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f1f1f1;
  padding: 0 25px;
  line-height: 25px;
}

.skills li {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.grid-2-items ul li {
  padding: 10px 15px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.sec-3-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25 px;
}

.sec-3-div-h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0.35px;
  color: #ff6b00;
  margin-top: 70px;
  align-items: center;
}

.sec-3-div-p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f4f5f7;
  padding: 0 25px;
  margin-top: 50px;
}

.sec-3-div-btn {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #ff6b00;
  padding: 10px;
  margin-right: 120px;
  margin-top: 30px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fra-simg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.p-color {
  color: #fff;
  line-height: 90px;
}

.line2 {
  height: 1px;
  width: 90%;
  margin: 200px auto;
  border: 1px solid #fff;
}

.mrre {
  background-image: url(./image/Group88.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 50%;
}

.Contact-Me {
  display: grid;
  align-items: flex-start;
  padding: 120px 24px 0 24px;
  row-gap: 58px;
  background-color: #fff;
}

.form-title {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: #172b4d;
  text-align: center;
  margin-top: 20%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 20px;
}

.email-input {
  display: flex;
  align-items: center;
  font-family: 'Inter', serif;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #979493;
  border: none;
  margin-top: 3%;
}

.name-input {
  display: flex;
  align-items: center;
  font-family: 'Inter', serif;
  line-height: 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #979493;
  border: none;
}

.msg-input {
  border: none;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #3c3a39;
  background: #fbf8f7;
  height: 50px;
}

.line3 {
  border: 1px solid #dbd8d7;
}

.line4 {
  border: 1px solid #dfe1e6;
  margin-top: 10%;
}

.line5 {
  background: #0d151e;
  border-radius: 10px;
}

.form-section {
  display: grid;
  row-gap: 58px;
  padding: 0 24px 0 24px;
  color: white;
}

.contact-btn {
  background-color: #ff6b00;
  align-self: center;
  width: 131px;
  margin-right: 118px;
  height: 35px;
  gap: 10px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.contact-btn:hover {
  background-color: #e5e5e5;
  transition-duration: 2s;
  color: #f55800;
  border: 1px solid #f55800;
}

.item-bt:hover {
  background-color: #e5e5e5;
  transition: color 0.3s ease-in-out;
  transition-duration: 2s;
  color: #f55800;
  border: 1px solid #f55800;
}

nav ul li:hover {
  background-color: #f55800;
  transition: color 0.3s ease-in-out;
  transition-duration: 2s;
  color: #e5e5e5;
  border: 1px solid #f55800;
  padding: 8px 18px;
}

.grid-2-items li:hover {
  background-color: #f55800;
  transition: color 0.3s ease-in-out;
  transition-duration: 2s;
  color: #e05855;
  border: 1px solid #f55800;
}

.grid1 li:hover {
  background-color: #f55800;
  transition: color 0.3s ease-in-out;
  transition-duration: 1s;
  color: #e5e5e5;
  border: 1px solid #f55800;
}

.logo:hover {
  background-color: #f55800;
  transition: color 0.3s ease-in-out;
  transition-duration: 2s;
  color: #e5e5e5;
  border: 1px solid #f55800;
  padding: 8px 18px;
}

footer {
  display: grid;
}

.social-medias {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 20px;
  column-gap: 24px;
  list-style: none;
  margin-bottom: 4%;
  margin-top: 1%;
  color: #505f79;
}

.item1 {
  display: none;
}

@media all and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .none {
    display: hidden;
  }

  nav a {
    text-decoration: none;
    color: #fff;
  }

  nav ul {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    margin: 15px;
    align-items: center;
  }

  #menubar {
    display: none;
  }

  #menubar div {
    width: 26px;
    height: 3px;
    background-color: white;
    margin: 4px;
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background: #3c3a39;
    padding-top: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    text-align: center;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-weight: 680;
    font-size: 14px;
    line-height: 20px;
    margin-left: 60px;
  }

  .headline-div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 140px 100px;
    width: 566px;
  }

  .headerline {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .sub-headerline {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #f1f1f1;
  }

  .section-fir {
    background-image: url(./image/illustration-header.png);
    background-size: 45%;
    background-position: 100% -2.5em;
  }

  .newsocial {
    position: absolute;
    bottom: 0;
  }

  .newsocial ul {
    display: flex;
    flex-direction: column;
  }

  .line12 {
    height: 0;
    width: 50%;
    border: 1px solid #212121;
    margin-bottom: 13px;
    margin-left: 70px;
  }

  .second-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 769px;
    margin-right: 37px;
  }

  .section-div2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  .second-sec-heading {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 25px;
  }

  #posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 65px;
  }

  .sub-h3 {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    margin-right: 85px;
  }

  .bnt-top {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    height: 26px;
    width: 100px;
    text-align: center;
    background-color: #ff6b00;
    color: #fff;
    margin-top: 15px;
    margin-right: 73%;
  }

  .img-sct2 {
    width: 400px;
    height: 306px;
    left: 24px;
  }

  .multi {
    display: flex;
    flex-direction: column;
  }

  .section-div-p {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-top: 20px;
    color: #091e42;
  }

  .grid1 {
    margin: 0;
    padding: 8px 1px;
    margin-right: 32%;
  }

  .grid1 li {
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 8px;
    color: #091e42;
  }

  #flexs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .grid-2 {
    width: 270px;
    background:
      linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
      url(./image/ImgPlaceholder22.png);
  }

  .hads {
    width: 270px;
    background:
      linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%),
      url(./image/ImgPlaceholder11.png);
    background-repeat: no-repeat;
  }

  .hads2 {
    width: 270px;
    background:
      linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
      url(./image/ImgPlaceholder33.png);
    background-repeat: no-repeat;
  }

  .grid-2h4 {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .grid-2-p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .item-bt {
    display: none;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #ff6b00;
    color: #fff;
    padding: 12px 2%;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 9px;
  }

  .item1 {
    display: flex;
    text-align: center;
    background-color: #ff6b00;
    color: #fff;
    padding: 10px 98px;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 12px;
    margin-top: 231px;
  }

  #hidden {
    display: none;
  }

  .off-form {
    display: none;
  }

  .hiden {
    display: none;
  }

  .grid-2-items ul {
    display: flex;
    margin-bottom: 8px;
    gap: 5px;
    margin-left: -37px;
  }

  .grid-2-items ul li {
    font-size: 8px;
  }

  .mrre {
    background-image: url(./image/Groups.png);
    background-image: none;
  }

  .bckimg {
    background-image: url(./image/Grop.png);
    background-repeat: no-repeat;
    background-position: 100% 52%;
    background-size: 40%;
  }

  .sec-3-div {
    width: 500px;
  }

  .sec-3-div-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 161px;
    height: 48px;
    background: #f55800;
  }

  .sec-3-div-p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-left: 13%;
    color: #f4f5f7;
  }

  .sec-3-div-h1 {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    margin-top: 70px;
  }

  .corection {
    display: flex;
    justify-content: space-around;
    height: 400px;
  }

  .p-color {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-form {
    margin-left: 100px;
    justify-content: center;
  }

  .form-title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    width: 360px;
    align-items: unset;
    margin-top: 23px;
  }

  #names {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name-put {
    border: none;
  }

  .name-input {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
  }
}

.msg-input {
  border: none;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.email-input {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.contact-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 40px;
  margin-right: 68%;
  background: #f55800;
}

/*
  @media all and (min-width: 1000px) {
    .newsocial {
      position: absolute;
      bottom: 380px;
    }

    .newsocial ul {
      display: flex;
      flex-direction: column;

    }
    .section-div2 {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
    }

    .second-sec-heading {
      font-family: "Crete Round", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 52px;
      text-align: center;
      margin-bottom: 25px;
  }

    #posts {
      margin-bottom: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 65px;
    }

    .sub-h3 {
      font-family: 'Crete Round', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 52px;
      display: flex;
      align-items: center;
      color: #091e42;
      margin-right: 119px;
      display:flex;
    }

    .bnt-top {
      font-family: "Inter", serif;
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      height: 36px;
      width: 100px;
      text-align: center;
      background-color: #ff6b00;
      color: #fff;
      margin-top: 15px;
      margin-right: 67%;
    }

    .img-sct2 {
      width: 640px;
      height: 306px;
      left: 24px;
    }

    .multi {
      display: flex;
      flex-direction: column;
    }

    .section-div-p {
      margin-bottom: 10px;
      font-family: Arial, sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      margin-top: 30px;
      color: #091e42;
      margin-left: 30px;
    }

    .grid-2 {
      width: 0px;
      background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
        url(./image/ImgPlaceholder22.png);
    }

    .hads {
      width: 300px;
      background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%),
       url(./image/ImgPlaceholder11.png);
       background-repeat: no-repeat;
    }

    .hads2 {
      width: 300px;
      background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
      url(./image/ImgPlaceholder33.png);
      background-repeat: no-repeat;
    }

    .grid-2h4 {
      font-family: 'Crete Round';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 44px;
    }

    .grid-2-p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      margin-bottom:18px;
    }

    .item1 {
      display: flex;
      text-align: center;
      justify-content: center;
      background-color: #ff6b00;
      color: #fff;
      padding: 22px 97px;
      font-family: "Inter", serif;
      font-style: normal;
      font-size: 18px;
      margin-top: 175px;
      }

  }  */

@media all and (min-width: 1440px) {
  .p-color {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-form {
    margin-left: 100px;
    justify-content: center;
  }

  .form-title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    width: 360px;
    align-items: unset;
    margin-top: 23px;
  }

  #names {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .msg-input {
    border: none;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
  } */

  /* .email-input {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
  } */

  /* .contact-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 40px;
    margin-right: 68%;
    background: #f55800;
  } */

  .newsocial {
    position: absolute;
    bottom: 50%;
  }

  .newsocial ul {
    width: 14.17px;
    height: 20px;
    display: flex;
    flex-direction: column;
  }

  .section-fir {
    height: 800px;
    background-color: #1c1a19;
    background-image: url("./image/Illustration-header.png");
    background-repeat: no-repeat;
    background-position: 100% 89%;
  }

  nav {
    height: 75px;
    background: #3c3a39;
    padding-top: 9px;
  }

  .logo {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  nav ul li {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .headerline {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 82px;
    line-height: 82px;
    color: #f55800;
  }

  .sub-headerline {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .second-sec-heading {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 25px;
  }

  .content-p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  #social-media {
    display: flex;
    gap: 1rem;
    padding: 0 30px;
  }

  .headline-div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 200px 120px;
    width: 706px;
  }

  .line12 {
    height: 0;
    width: 50%;
    border: 1px solid #212121;
    margin-bottom: 13px;
    margin-left: 70px;
  }

  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .bnt-top {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    height: 39px;
    width: 120px;
    text-align: center;
    background-color: #ff6b00;
    color: #fff;
    margin-top: 15px;
    margin-right: 70%;
    line-height: 24px;
  }

  .multi {
    display: flex;
    flex-direction: column;

    /* align-items: center; */
  }

  .section-div-p {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-top: 25px;
    color: #091e42;
    margin-left: 45px;
  }

  .grid1 {
    margin: 0;
    padding: 15px 1px;
    margin-right: 139px;
  }

  .grid1 li {
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 20px;
    color: #091e42;
  }

  #posts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .img-sct2 {
    height: 448px;
    width: 684px;
    margin-left: 110px;
  }

  .item1 {
    display: flex;
    text-align: center;
    background-color: #ff6b00;
    color: #fff;
    padding: 22px 129px;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 18px;
    margin-top: 271px;
  }

  .sub-h3 {
    width: 448px;
    height: 48px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    margin-left: 0;
    margin-bottom: 40px;
  }

  #flexs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
  }

  .grid-2 {
    width: 370px;
    height: 435px;
    background:
      linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
      url(./image/ImgPlaceholder22.png);
    background-repeat: no-repeat;
  }

  .hads {
    width: 370px;
    height: 435px;
    background:
      linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%),
      url(./image/ImgPlaceholder11.png);
    background-repeat: no-repeat;
  }

  .hads2 {
    width: 370px;
    height: 435px;
    background:
      linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
      url(./image/ImgPlaceholder33.png);
    background-repeat: no-repeat;
  }

  .grid-2h4 {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 44px;
  }

  .grid-2-p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sec-3-div-h1 {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    margin-left: -18px;
  }

  .sec-3-div-p {
    width: 566px;
    height: 148px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-left: 189px;
  }

  .sec-3-div-btn {
    width: 167px;
    height: 64px;
    margin-right: 174px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .bckimg {
    background-image: url(./image/Grop.png);
    background-repeat: no-repeat;
    background-position: 100% 45%;
    background-size: 40%;
  }
}

@media all and (min-width: 1440px) {
  .second-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 769px;
    margin-right: 390px;
  }

  .line12 {
    height: 0;
    width: 50%;
    border: 1px solid #212121;
    margin-bottom: 13px;
    margin-left: 70px;
  }
}
